name: CI/CD Pipeline for Kubernetes

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
	build-and-push-image:
		runs-on: ubuntu-latest
		outputs:
			image_tag: ${{ steps.meta.outputs.tags }}


		steps:
			- name: 1. Checkout repository
				uses: actions/checkout@v4

			- name: 2. Set up Docker Buildx
				uses: docker/setup-buildx-action$v3

			- name: 3. Log in to Docker Hub
				uses: docker/login-action@v3
				with:
					username: %{{ secrets.DOCKER_NAME }}
					password: ${{ secrets.DOCKER_PASSWORD }}

			- name: 4. Define Image Metadata (Tags and Labels)
				id:meta
				uses: docker/metadata-action@v5
				with:
					images: nginx/nginx:latest
					tags:
						type=sha,format=long # Tag with the full commit SHA (e.g., 1shook1/my-app:a7e1f4d9c7e0...)
						type=raw, value=latest,enable={{is_default_branch}} # Tag 'latest' ONLY on the main branch

			- name: 5. Build and Push Docker image
				uses: docker/build-push-action@v5
				with:
					context: .

					push: true

					tags: ${{ steps.meta.outputs.tags }}
					labels: ${{ steps.meta.outputs.labels }}

					cache-form: type=sha
					cache-to: type=gha,mode=max
	
	deploy-to-kubernetes:
		need:build-and-push-image
		runs-on:ubuntu-latest
		environment: production

		steps:
			- name: 1. Checkout repository
				uses: actions/checkout@v4

			- name: 2. Setup Kubectl
				uses: azure/setup-kubectl@v3

			- name: 3. Deploy to Kubernetes
				uses: Azure/k8s-deploy@v5
          with:
            kubeconfig: ${{ secrets.KUBE_CONFIG_DATA }}
            manifests:
                k8s/deployment.yaml
                k8s/service.yaml
            images: |
                  my-app-container-name:${{ needs.build-and-push-image.outputs.image_tag }}